Hannah needs Betty's number but Amanda doesn't have it. She needs to contact Larry.
Hilary has the keys to the apartment. Benjamin wants to get them and go take a nap. Hilary is having lunch with some French people at La Cantina. Hilary is meeting them at the entrance to the conference hall at 2 pm. Benjamin and Elliot might join them. They're meeting for the drinks in the evening.
Martin wrote a short review and won 2 cinema tickets on FB. Martin wants Aggie to go with him this week for the new film with Redford.
Greg and Betsy have a lot of work today, so they cannot pick up Johnny from the kindergarten. However, it's Greg's turn to do it. Greg will try to find a solution.
Ethan, Toby and Marshall are making fun of Scott.
Next week is Wharton's birthday. Augustine, Darlene, Heather and Walker want to buy him a paper shredder. Walker will make sure if Wharton really wants it. 
Jesse, Melvin, Lee and Maxine are going to take part in the Christmas charity action of the foundation called Refuge, which helps women and children who escape from abuse.
Mary has played DA Inquisition. Lucas has played DA II. Daniel started playing DA Inquisition.
Riley and James watch Chloe on tv undergoing a metamorphosis.
Ola is in Cuba and is enjoying her trip. She has problems with connectivity there. Momo has recovered from her injury. Ola doesn't like the clothes in Cuba. Ola will try to find a blouse for mum in Cuba, as Kate suggested.
Mike will ask Mary for John's new number.
Joseph has sent Ella a photo of Wujek Janek's twin baby cows. Ella is delighted.
Josh thinks Stephen accidentally took his notebook. Jack has it and will bring it tomorrow.
Adele got a new biscuit Labrador Chewy that is 4 months. Her cats keep their distance, and Poppy and Lulu seem to mother Chewy and Speedy wants to play.
Petra is very sleepy at work today, Andy finds the day boring, and Ezgi is working. 
Julia knew Tim was gay, while Adam and Nate didn't. 
It's Tom's birthday. Lara and Gary will come to Tom's place about 5 pm to prepare everything before Tom gets back home at 5:30. Gary has already paid for the cake - Lara will pick it up and she will also get the balloons. 
Todays results show that Matt and Oliver got into Stanford University, Peter did not. 
Brandon has lost his credit card and blocked it in the bank. It will take some time before he gets a new one, and he needs money. Luke is broke, but Ian will lend Brandon some money.
Patrycja and Inez enjoyed the Italian evening. Gosia chose a great place. Alicja hasn't been to the new restaurant. They all want a Korean evening on Wednesday in two weeks time.
Ana wants to visit grandma tomorrow. Catherine will go with her. She will call Anna when she wakes up.
Suzanne is at work and is having a break now. Morgan invites Suzanne to a concert of Maroon 5 which takes place next week at the Hulu Theatre at Madison Square Garden. Suzzanne agrees.
Fiona wants to prepare dinner for Chris. She is thinking of Tina's tart. She will help her make it.
Annette is sick. James is going to the Jesus bar. Oli couldn't find anyone near the bar.
Nathalie, Olafur and Zoe are planning the New Year's Eve. Nathalie wants something classy. Olafur doesn't like opera. They want to go to the Breakfast at Tiffany's party in Soho.
Elliot can't talk to Jordan now, he's busy. He'll call him back at 8 pm. Jordan is going to Brad's funeral. He had liver cancer.
Eric, Samantha and Noah's professor is commenting a recent scandal on the news. 
According to Jacky, David did the right thing taking the blame. They will talk when Jack comes back home.
Rick and Helen are in Cancun. They're flying to Havana in two days. Chris and Rick will talk on Skype at 3 PM in Mexico.
Ying sent a photo of his 10 years challenge to Helen, Norma and Zazu.
Janet, Nicole, Alison, Arlene, Leslie, Ros, Eric and Sue are all complaining about Donald Trump and his absence at the ceremony. 
Marta needs help with the PC. On Joel's advice, she will contact Cynthia or Elena as they might know someone. 
Fatima is worried about Jenson and Alene. Alene has issues. Lincoln doesn't want Fatima to worry about others too much.
Sandra and Brenda used to work together in the clothes factory 25 years ago. Sandra still lives in Kings Norton. Brenda lives in Stoke now. Her husband Bill died 5 years ago. They will meet in Birmingham for a lunch next Saturday about 11. They want to organize a reunion for the Lister's girls. 
Tony sent a photo of his cat to Amy and Lucas.
Matt got a ticket for Dawid Podsiadlo's concert. Thomas is going, too.
Karen wants something cheaper than sushi for lunch. Linda, Ronnie and Karen will get takeout pasta boxes to the park.
Marty thinks she has sprained her ankle. Marty wants to go to the doctor tomorrow. Christine will pick up Marcel from school today. Tomorrow Christine will take Marcel to school and Marty to the doctor. Marty will call the school. Christine and Marty will meet around 4. 
Ela is not taking Harry's phone calls. Cindy calls Ela at Harry's request.
Kristina, Estefania and Jannette are watching America's Top Model.
Daniel is going to Bologna today. He has to transfer there for a further flight. He will stay at the airport for two hours. Simone will visit Marco in December.
Maria, Kate, Tommy and Sam are going to a conference. Tommy will use Prezi instead of Power Point. He has a Prezi subscription for $10 a month.
Mike, Tom and Ben will go for a beer.
Ian is looking for his green folder. Sophie hasn't seen it but maybe Alex will know.
Shelly is voluntering at a food shelter and asks if others do some volunteer work. Tracy is not into that, but Jody always does some charity for Christmas.
Jessica posts a lot regarding subjects she does nothing about in reality. Julia posts in a more genuine way. But Hillary thinks she does it to death and lacks real life.
Miranda called Tom yesterday and spoke to him in a sweet way. Anne is angry with her because Anne is dating Tom.
Barbara and Eva described their dietary requirements in the website given by Ella.
Freddie, Kelly, Jim, Greg, Bob, Mike, Mary, Alan and Nancy are watching different shows on Netflix.
People are photoshopping Timothée Chalamet into artworks. Dominic and Nova agree that he looks like a 19th century man.
Tessa doesn't like Chloe texting her boyfriend, Jim Andrews. Jim is Chloe's co-worker so Chloe needs to communicate with him.
Emily, Kate and Marta are going to the Pub X at the central station today for a drink.
Jane, Anne and Ella have been to La Perle. Jane ate cheesecake and got an allergic reaction. They are getting out of ER. 
Elena is wearing the red jacket and Jeffrey can't see her nor Tom.
Jake, Florence, Margot and others are going on a research trip to Swazi. The name of the country was changed last year and it's now Eswatini.
George, Robert and Paul are going to play basketball on Friday at 7. Yousuf will be late.
Rory wants Mitch to take Bill and Sammy and they'll chip in for gas. Mitch will be leaving Sunday, the 29th to get there by 9 am on Monday. Bill will arrive around 10 am Sunday and Joanna will be picking him. Mitch will meet Bill after.
Derek and Alyssa make fun of Fergie's performance of the national anthem.
Ania, Kasia, Zuzia and Jan want to go to the church tomorrow. Ania and Zuzia do not find it appropriate to go to the church with a boy.
Joe's job is wearing him up. Tim's friend Terry quit his job because he was burned out.
Natalie is checking if it's worth going to the new club at Regents Street. Denise thinks the club is great. Judy's friends also recommend the place, so Judy is going there this weekend. Natalie will go to the club with Judy, Miranda and Helen on Saturday.
Jamie, Marlo, Jimmy and Alex's teacher requires their class to divide into 2 groups, each making a presentation. The teacher sent them the presentation subjects via e-mail. Jamie, Marlo, Jimmy and Alex consider dividing the class into groups by gender. 
Debbie can't decide between buying a red dress and a green one. On Kelly and Denise's advice she will buy the green one. Kelly is considering buying the red one for herself.
Tom will help Mia buy a flight ticket as she doesn't have a credit card and doesn’t want to use Peter's now. Tom needs the flight, company and your personal data.
Hugh has a toothache and needs to go to the dentist. Andy and Wade recommend him dentists at ProDent. Hugh will call ProDent today.
Rob and Bob are watching the game. Bob will run some errands on the weekend. Jim's birthday is next Wednesday. He might organize a meetup this weekend. Bob will see Rob on the weekend.
Conrad can't enter the house because he forgot his keys. Since Rebecca and Tiffany are coming back late, he'll wait in the coffee shop. 
Clara and Ron are wondering what that weird smell at Kasia's place last night was.
Josh, Sean and Logan are going to the pub tonight to pick up some girls. Logan doesn't want Sean to scare the girls away with his inappropriate comments.
Claire is ordering her wedding dress, adviced by Maria and Nicole.
Victor took over Chris's company, which was under a huge debt. He sold the office and did some changes but Chris still works there as Director. David's business goes very slow but he expects it to get better by the end of the year.
Julie has just watched a Japanese horror. She's alone at home and really scared. Paula and Rose are going to come to her place for a spontaneous sleepover. They'll drink cocoa and watch "When Harry met Sally." Rose will bring cookies.
Dan,Tim, Chris and Martin will meet at 8. Dan and Martin will take it easy this time. Tom can't make it as he has a party at in-laws.
Jack had to miss school because he is sick. Jamie was sick a lot last year but he got better thanks to doctor Tornez at City Medical Centre, next to the mall. Linda learns the school trip has been cancelled as many students are sick.
Nancy asks Vic and Phil about various social media, which prompts them to discuss and compare the different platforms. Phil is not into Instagram but likes Twitter. Vic prefers Facebook over Twitter and likes Instagram. Phil and Vic both don't use Tumblr. 
Amanda and Peter don't like what the man in dreads looks like, but Dan does.
Dima's laptop is broken, as her cat spilled coffee on the laptop. Dima is worried, because she has to deliver a translation for Trados tomorrow. Dima will come to Nada in an hour to borrow Nada's laptop. 
Del accused Stanley of having an affair, because he couldn't go with her this weekend due to his work. They've only been together for 4 months, so it's not a good sign. Now Bill and Stanley need to take care of the Lidem project. Division of tasks is on Stanley, because Alison is unreachable.
Ann thanks Katie for hosting her son Tim on Monday evening and driving him to the railway station next morning. Kate will send a message to Tim tomorrow, to ask about the place where she should be waiting for him.
Mike wants someone else to do the washing up this time. Sara agrees, but when she returns from the cinema she is at with Jack.
It's Valentine's day. Bella plans to order some pizza home. Aria will come to Warsaw as soon as she quits. This year Bella will probably go to Korea to get regular checkup. 
Madeline is in conflict with Martin and Jada. Alex and Madeline will go for a beer tomorrow. Madeline will explain her issues with Martin and Jada to Alex.
Maria suggests to meet after the IMF lecture to discuss the presentation which is due on Monday. Maria, Alexander, Martha and Sarah will meet tomorrow at 17:15. Lawrence will be late.
Tabby has 2 exams next week. Laura passed all her exams but one. Tabby may come to Daisy's party on Saturday, depending on her studying progress. 
Becky and Trent are taking care of Joel's cat Coco. Coco likes them both and is behaving rather well so far. 
Natalie is pregnant with Dave. Jane didn't think Sally should share it with others as Natalie told them that in confidence. Henriette and Greg are surprised that the father is Dave not Mike.
Gemma will invite Timmy and his Date, as well as Lona and Michelle to her wedding.
Ann, Sue and Julie did a great job and they will have a little celebration tonight.
Claudia, Andy and Mark stayed after hours at Mr. Benson's request. Mr. Benson is currently discussing a contract with a new client in Per and he wants to organize their work remotely.
Mum is at school in front of the door. Ludo's rooms is 112 and his class is class 3. The same goes for Hugo and Charles. The building is big and has a big garden. The meeting is about to start.
Ben won't go with Catherine to visit uncle Steve. He will visit her and the boys. 
Mike considers going to Egypt for holiday. It's too hot for Celia, she suggests Croatia instead. Mark likes the idea, he's never been there. 
Jasmine loves Charlie Puth and his new song. Paola thinks Charlie Puth is attractive. Paola likes the song "Galway Girl" by Ed Sheeran.
James and Mia want to go to an art exhibition tomorrow. James wants Amelia to go with them but Mia isn't sure about it. James and Mia will go to his place afterwards.
Chae-yeong and Arthur inform Mariana that the readings for the next session of Stephen's seminar weren't available in the print shop on Monday. Rita decides to go and chcek if the situation's changed tomorrow and she'll let everyone know.
Mazie and her girlfriends are having a drink tonight. Lee doesn't like some of her friends, for example Sheryl. Lee had spilt a drink on her.
Sue wants Graham to give her some dates for weekends in the Romford area. Lady Louise wants another 2 half days and focus on motorways. Graham has 2/3/9/10/16/17/23. Sue will let Graham know when Lady Louise comes back to her.
Brett's cousin met his wife while playing a game together. Andrew's favorite game is the Final Fantasy. Brett and John haven't heard about it.
Hugh shares a photo of his son with Joan and Julia. 
Nathalie, Pauline, Jacob and Anthony are thinking about spending holidays in Greece together in August. Jacob and Nathalie need to be back by August 10 because of Nathalie's younger sister's wedding. 
Telly, Chuck and Ally talk about a New Year's party they will attend.
Ryan is visiting family in Manchester for Christmas. Chris stayed home with Ann.
Kate had a fight with Chris about refugees. He thinks the U.S. should not accept them. Kate and Mary do not share this opinion. They are having second thoughts about their friendship.
Blake will be waiting for Clara and Jenny on the platform a fabro-ficule.
Molly and Margaret are going to Sweden in January. Kai and Peter advise them to stay in Stockholm and visit Vasa Museum.
Adam is complaining about going to the gym. Mair will take Adam and Xander to the gym this week. Mel will bring Xander to Mair at half 10.
Ethan was at the gym yesterday. This week he has been training every day. Ethan and Dustin will come to Ray's place at 8pm.
Alexander finds Mr Linda's voice monotonous. Igor fell asleep during the lecture. Casper reckons it's a waste of time. They are going to meet near the university and go somewhere else instead. 
Sam appreciates the hotel owned by Jessica and Michael. Sam is going there on the 15th August at around 2pm.
Marsha and John planned the trip. They will spend a week on the beach with Cynthia, Mohammad and Gavin. They will all stay in a hotel in Nosy Be.
Leticia lost her wallet with cards and documents and needs to borrow 10 dollars. Miranda and Lora offer help. The girls hope somebody will find the wallet and give it back.
Jason wants to meet Dory over the weekend. Dory's friend is going to stay with her for a week. Jason has been working on a movie with Lucy for the past two months. Jason bought a video-creator app.
Jared and Michelle used to go out together. Now he'd like to ask Kelly, Michelle's best friend, out. He gets her permission.
Reeve has no plans for the winter break. Booker is going to ski in Italy. Dodson and Trish are thinking of going to the seaside somewhere near for 3/4 nights.
Ethan will soon send Jason's phone number to Dixie.
Trinny, Susannah and Linda will meet at 6 at the main entrance.
Emma, Peter and Daniel are going to Amiens tomorrow. Emma and Daniel are tired of Paris. Emma and Daniel will meet at Emma's place tomorrow at 9 AM.
Laura, Kelsey, Oona and Sid are going to see "Aquaman" on Thursday at 8:10 pm. Oona will get the tickets.
Rob wants to start doing 30 minutes of physical activity every day. Greg is already doing 60 minutes. Anna wants to start exercising just like Rob. 
Lorenzo took keys from airbnb and went to the room. He's waiting for Will and Amanda.
Laura's mom passed away this morning. Anne and Kristian are showing their support to Laura.
Katy and Ana invite Carlton to join them for a movie by Lola Arias on the making of the play he had seen. He will come to their place earlier on Saturday.
Mary and Patricia are flying to Japan in a week. Patricia is scared of long flight, earth-quakes and tsunamis. James is comforting her. Mary tried to comfort Patricia too with no effect.
Kate broke her arm and she's going to the hospital. She'd like to know whether her medical insurance covers hospital costs. Greg suggests her to call Linda or ask someone at the reception about it.
Jose Ricky and Amanda are very enthusiastic about the new year as they will travel a lot during the summer of 2019.
Mary is giving Matt Patrick's new phone number.
Uncle Sam was in hospital, but it was nothing serious. He and Lucy are like second parents to Chiara and Yvonne. Chiara and Yvonne were in Chicago 2 weeks ago at their cousin's wedding. Yvonne is dating an Argentinian.
John and Annie are moving to London because he lost his job in Germany and found a better offer working in IT here. Annie isn't happy with the move. Amber, who was supposed to stay in their London flat for 5 years, has to move. Erin offers her place but Amber plans on staying with John and Annie.
Johny wants to go for a gig with Lucy. She prefers to go with Maggie and her best friends. They will meet at 6 PM at her house to prepare for the evening. The gig starts at 8 PM.
Lynn and Diana are disgusted by sugar babies, Wilbur tries justifying this lifestyle, but Justin doesn't believe it.
Sandra bought a present for Milla right before Marco's party and left it in his place. She asks Marco to bring it over. 
Mike and Dave notice Wendy got prettier. Dave wants to hit on her, but she's with Jerry. He'll try anyway.
Elvina needs information about the dress code at the local theatre. Booth has been there before and recommends wearing something casual. Averil is surprised there even is a theatre.
Chuck told Ella that he'd met up with Molly. He made up the story, as actually Molly refused to go out with him. 
Sally and Rita like Borns' new album very much. Rita is also excited about Florence's new single which comes out tomorrow. Sally didn't know about it.
Haley sends Jenny and Tess a photo of when Bella the cat was 2 weeks old.
Jeff, Peter and Miranda wonder what American and global economy will be like.
Alexa asked Ethan to insult Hunter out of jealousy.
Lorenna is not coming to the party because her daughter is ill. She is going to see a doctor with her. Ann and Shirley send kisses to the kid.
Samuel's language is Telugu, which is spoken in south east India. It has nearly 90 million speakers; it's written left to right; it's based on Brahmin script. Teluguland has 23 provinces. It's quite poor. "Anna" means "elder brother" and Thammu or Thammadu - "younger brother". Tim's 55, Samuel's 35.
Louis doesn't know what he should give Lilly and Stephen as their wedding gift. Sara advises him to check if they have a gift list.
Dan has watched Punisher season 2 and Eric finds the first one better than the second one. They both think it's a shame they discontinued Daredevil.
Jenny, Jeremy and Joan are going to a concert on Saturday and agree to have a drink at Barcelona located at 8th avenue beforehand.
Trump is acting like a contemptible fool and it is getting worse. Rudi has sent Henrietta the link to his interview.
The individual meeting with Andrew Simmons takes place tomorrow in room 104. Samuel Anderson and Katherine Jackson won't attend it because he has an appointment and she has a retake.
Frank will help Sarah and Mary transport the aquarium that is a gift for someone.
Chelsea won a game with Huddersfield this afternoon. Higuain scored twice. Damian's happy about it and he hopes it will be a turning point for Chelsea. 
Jay will lend Joe money for the ticket for the event. Ruth and Paulette will accompany them.
Caleb sent Ella a pic of Maya to show her the girl's costume as a mouse in a school play. 
Yaz and Tania will go to a pub on Friday around 8. Sophie is thinking of breaking up with her boyfriend before Uni. Tania is going to Manchester in 4 months. Yaz wants to study medicine in Exeter, so she needs high grades.
Sergio needed a long time to prepare a speech for Ulrich's wedding. He's going to talk about their long-lasting friendship and is nervous about giving a speech. Ralph is sure it will be fine. 
Edward doesn't want to go on the business trip tomorrow. Lauren's stressed about it, because their boss is coming with them. Kate think it's going to be ok. There will be meeting with clients and an expo.
Robert texts Gabriel to arrange a get-together with him in the office at 3 pm, before he is meeting Darek. But Gabriel left the office a month ago and is at home now, so they will not meet today.
Susan's presentation was a disaster. Tom will pick up Becky from school as she has a fever and will take her to his mum's house. He needs to return to the office later on. 
Ethan and Leo are going to see Sólstafir on 21.11. Noah would like to go too, but he might have to stay late at work.
Lucas, Johnatan and Darren are going to get some beer.
Zandra's daughter, Tam, has a birthday tomorrow. The party starts at Tricia's place, so Erwin will deliver a birthday cake by bike. Zandra is taking care of the decorations, Tricia of the food and a company of the outside attractions. 
Neither Raf nor Sarah remembered to reply to Laura but she managed anyway. Both Sarah and Laura are in Linate.
Nigel was at Felix Laband's concert in Paris last night. Bob likes him too. 
Uncle Jayson is pleased with Ewan's graduation.
Daniel, Michael, Matt and Brian are going to Croatia and Bosnia and Herzegovina. They are packing. Michael reminds them to take their passports, because Bosnia and Herzegovina is not in the EU. They will go to Mostar and the mountains in Bosnia.
Kate, Milena and Regina's presentation went well. Three people came to listen to them.
Barbara, Sean and Zac are meeting at Barbara's place tonight. Sean will bring the dog. Sean and Zac will stay overnight.
Quinn and Kyle are going out tonight. Kyle is leaving school at Easter to work for his uncle. Quinn's parents want him to retake his GCSEs. Kyle's brother will buy alcohol and cigarettes for them. Their friend, Kirsty, is dating Nathan Baker. Quinn and Kyle will meet around 6 outside the club.
Priscilla is upset with Stu because his friend, Alex, didn't provide her with the right software. She had to buy it online instead.
Phil received a card from Deana. Constantine was happy. Phil has sunglasses, that Deana found in the back above the radio. Deana and Phil don't know who they belong too. Phil will keep the sunglasses.
Alice's dad is coming over for a month to decorate Jo's place. Kim's mom and Alice's parents are going to be here on Saturday. Alice and Kim will meet on Friday after 8 after Alice's yoga class. 
Leo, Charlie and Oliver are watching a video with a bizarre prank. Charlie has ambivalent feelings. Leo and Oliver enjoy the video's weirdness very much especially moments 3:24 and 5:24.
Gloria and Mell plan to have a barbeque at Mell's place on Saturday. They are happy, because Tad's sister moved to Scotland. Mell needs Gloria's advice on garden design.
Hailey hasn't been to I-max cinema yet and Whitney wants to take her to one to watch Aquaman. Hailey'll do everything to find some time for it. Whitney informs Hailey that Shadrack and his girlfriend are going with them.
Jacob, Jenny and George are telling each other what they have gotten for Christmas.
Amy gives Everett permission to give her number to Ralph.
Ed, Valerie, Chris, Lor, Atnee, Jessica, Matt are laughing at the sinfulness of the sex without marriage.
Matt and Tony want to go to the concert of Bon Jovi next July in Poland and are planning to buy the tickets that cost 250 PLN before they’re sold out. Phil will think about it and let them know.
Henry and Peter will be late for a birthday party. Michael and Vanessa are on their way. There was a serious accident, and Peter has no idea when they will manage to arrive. Henry will probably come before Peter.
Richie and Clay saw a very good football game, with one football player chopping the ball back to his foot, which was particularly exciting. Jose has trust in that player. 
Natalia, Harriet and Lara will book flight tickets today.
Holt asks his girlfriends some advice on a present for his sister on her 21st birthday. Treena recommends cosmetics, whereas Zula suggests DVDs or book series. 
Georgia sent a photo. Roxana and Summer advise Georgia to buy it.
Amal and Amir saw Beyonce's tweet. They think she's great.
Freddy will sing at the school concert and send Simon 3 backing tracks.
Frances just got back from Vosges. She stayed a week in a farm house with Ferdinand and her dog Aiden. 
Larry has to read the E-mail again and make a decision with Kirsten afterwards. Kirsten has to convince her husband. Kirsten wants to include Jamie and John. Larry and Kirsten are going to arrange menorah in the lobby.
William is making spaghetti. Olivia will buy fresh tomatoes for William. Beth will buy chocolate.
Baron, Gabriel and Gavin have a match next week. Their tutor wants to join them.
Mia, Jennifer, Karine and Peter do not like Trump.
Mark, Clint and Phil are going to watch "Batman. New Beginning" on Saturday, at 7. Mark will get the tickets.
Maddie is confused, because Leah told her that Ian was dating a girl named Claire. Ian met Claire about 1,5 years ago, but they barely knew each other.
Suzy urges Linda to follow her on Instagram and she obliges.
Sean reminds the guys about trade deadline today. Rick wants to vote. John will look at it after the season.
Carrie and Gina saw "Fantastic Beast" and liked it. Ginna loved Eddie Redmayne as Newt. 
He is no longer the teacher of Shanon, Victor, Oliver and Sid. He got fired today.
Alex prefers the Flash to Barman and Superman thanks to his speed.
Amelia thanks Lindsay for coming to Elliot's birthday.
Jennifer, Jack and Reece will match the latest Mad Max on Netflix tomorrow evening. Jack has already seen it.
Kate wants to borrow Emily's blue handbag as she needs it for Monica's wedding. Emily will bring it with her to the office tomorrow. 
Adam hasn't visited his parents in six months and is coming over tomorrow. His flight will land an hour later than originally scheduled. Hannah will let Dad know.
Joyce wants to take Kyle's car to get Harry. Kyle is taking the car to a mechanic. Joyce refuses to get Harry by bus. Kyle agrees to pick Harry up. 
Eva is at a party, while Olivia is taking care of her daughter, Linta. Eva will leave soon and pick Linta up.
Josie finds Eco's novel "Foucault's Pendulum" nerdy. Josie would like to read Eco in Italian, but she's unsure of her language abilities. Stefano considers Eco's two novels and finds them difficult. Josie has read an unfavorable review of "Foucault's Pendulum" by Salman Rushdie.
Sandy will go for a run. She will meet Joy after 11am. Lina and Joy don't think the dresses are appropriate. Joy will wait for Sandy.
Mary and Lily will call Kyle on facetime.
Tomas, Sierra and Jeremy have still not received the grant. Tomas is broke and is checking his bank account every hour. Sierra offers to lend him some money.
Pamela will look at their website to apply for the RGS grant. Zoe and Xiara applied last year but they weren't lucky. Sometimes you have to be a member to apply.
Perry, Marlow, Janet and Forster discuss their holiday plans. Marlow would like to go to Asia, others will think if they can join. The friends will meet tomorrow at 8 pm to discuss that. 
Maya wants Boris to bring clothes that are hanging outside. Brian will do that, because Boris isn't at home now.
Barry, Dave, Kelly, and Jake will meet around the campus at 12 to join Women's strike.
Laurel and John meet at Jades tomorrow at 5 pm to buy a birthday gift for Diana. Diana's birthday is on Saturday.
Rachel has a new siamese cat, a girl called Portia. Rachel discovered that is allergic to cats. She is sneezing, has rashes and other allergic reactions. She takes medications that seem to help. Adam consoles Rachel.
Amy has severe aura. Penny, Owen and Neil want to meet her in person.
Dorothea is having a birthday dinner in the town with Tom. Elena is seeing Dorothea at her party on Saturday. 
Iris is trying to remove herself from an expense. Ken has fixed the problem. Julia will be added to the expense again later. Gerardo will ask the people leaving early to stay in the splitwise group until the end of the month. George will stay.
By looking at the photos, Archie thinks that Melanie looked nicer with curly hair. Louis disagrees.
Jess dreamt she was a lion tamer. Lynn believes that dreams mean something. Charlie has read that strangers from our dreams are actually people who we've seen before.
Ulysses and Peter got an A, Julia got a B. The grades are to be checked on the course page.
Marcus will pick Mark from the airport at 4pm. Anna will call Mark and give him Marcus' number.
